VITE_KITTY_LEDGER_ADDRESS=
VITE_KITTY_VAULT_ADDRESS=
VITE_TEST_USD_ADDRESS=
VITE_SOURCE_CHAIN_KEY=1
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_CREDITCOIN_RPC_URL=https://rpc.cc3-testnet.creditcoin.network
VITE_SEPOLIA_CHAIN_ID=11155111
VITE_CREDITCOIN_CHAIN_ID=102031
VITE_LEDGER_DEPLOY_BLOCK=0
